ENV{BASE_COMPATIBLE}=="victronenergy,easysolar", GOTO="easysolar"
ENV{BASE_COMPATIBLE}=="victronenergy,easysolar-*", GOTO="easysolar-a9"
ENV{BASE_COMPATIBLE}=="victronenergy,maxi-gx", GOTO="maxi-gx"
ENV{BASE_COMPATIBLE}=="victronenergy,maxi-gx-*", GOTO="maxi-gx-a9"
ENV{BASE_COMPATIBLE}=="victronenergy,paygo", GOTO="paygo"
ENV{BASE_COMPATIBLE}=="moixa,v4-smart-hub", GOTO="v4-smart-hub"
GOTO="end-machine"

# EasySolar devices
LABEL="easysolar"
ACTION=="add", KERNEL=="ttyS[12]", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", KERNEL=="ttyS3", ENV{VE_PRODUCT}="builtin-mkx", ENV{VE_SERVICE}="mkx"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_MODEL}=="VE_SLCAN_Interface", SYMLINK+="ttycan0"
GOTO="end-machine"

# EasySolar A9 devices
LABEL="easysolar-a9"
ACTION=="add", KERNEL=="ttyS[12]", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", KERNEL=="ttyS3", ENV{VE_PRODUCT}="builtin-mkx", ENV{VE_SERVICE}="mkx"
GOTO="end-machine"

# Maxi GX devices
LABEL="maxi-gx"
ACTION=="add", KERNEL=="ttyS2", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", SUBSYSTEM=="tty", ENV{ID_MODEL}=="VE_SLCAN_Interface", SYMLINK+="ttycan0"
GOTO="end-machine"

# Maxi GX A9 devices
LABEL="maxi-gx-a9"
ACTION=="add", KERNEL=="ttyS2", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
GOTO="end-machine"

# PayGo devices
LABEL="paygo"
ACTION=="add", KERNEL=="ttyS[12]", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
GOTO="end-machine"

# Moixa V4 Smart Hub devices
LABEL="v4-smart-hub"
ACTION=="add", KERNEL=="ttyS1", ENV{VE_PRODUCT}="builtin-vedirect", ENV{VE_SERVICE}="vedirect"
ACTION=="add", KERNEL=="ttyS3", ENV{VE_PRODUCT}="builtin-mkx", ENV{VE_SERVICE}="mkx"
GOTO="end-machine"

LABEL="end-machine"
